recursive-include scripts *.py

include LICENSE
include justfile
include NOTICE
include *.toml
include package.json
include package-lock.json
include *.yml
include *.rst
include .git*

global-exclude *.py[co] __pycache__ *.*~
